---

---

<h2>Local/Directory Data File ✅</h2>
<ul>
{% for entry in myCsvData %}
  <li>{{entry.name}}</li>
{% endfor %}
</ul>
<p>{{myCsvData | length}} entries from the .csv located in  <code>/_src/faunaLocal/</code></p>

<hr>
<a href="/">Global Data File ✅</a><br>
<a href="/faunaLocal">Local/Directory Data File ✅</a>
<hr>
<p>The custom data file format (.csv) works while in the <code>/_data</code> directory, but not as a local data file, which as I understand, should work?</p>
<a href="https://www.11ty.dev/docs/data-custom/">11ty Docs</a> | <a href="https://github.com/11ty/eleventy/issues/3888#issue-3221888897">Issue Raised on GitHub</a>